html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: #e54b4b;
    --primary-color-dark: #dd2020;
    --grey-color: #f9fafd;
    --dark-color: #3c4858;
    --dark-color-anti: #fff;

}

.bg-grey {
    background-color: var(--grey-color);
}

.bg-dark {
    background-color: var(--dark-color);
    color: var(--dark-color-anti);
}

.center {
    text-align: center;
}

/* Gali buti bazinio stiliaus PVZ*/

.section-title {

}

.section-description {
    
}

.main-title {

}

h1 {

}

p {

}

a {

}